@model DAL.Users
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/PlannerDashboard.cshtml";
}

<style>
    html body {
        background-color: #faf9f5;
        font-family: Istok Web !important;
        font-weight: 400,400italic,700,700italic;
    }
</style>

<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome back to aanthony</h1>
                <p>We are happy to have you back.</p>
            </div>
            <div class="col-md-6">
                <div class="well-box text-center">
                    <h3 class="package_title">Count Down Days&nbsp;&nbsp;<small>[Sun, 08 July 2018]</small></h3>
                    <h1 class="package_number">144</h1>
                    <h3 class="package_title"></h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well-box text-center">
                    <h3 class="package_title">Your Wishlist Items</h3>
                    <h1 class="package_number">13</h1>
                </div>
            </div>
        </div>
    </div>
</div>


