@model DashBoardViewModel;
;
@using Microsoft.AspNetCore.Identity
@inject UserManager<DAL.Users> UserManager
@{
    ViewData["Title"] = "Index";
    ViewBag.Active = "WishList";
    Layout = "~/Views/Shared/PlannerDashboard.cshtml";
    var user = await UserManager.GetUserAsync(User);
}

<style>
    html body {
        background-color: #faf9f5;
        font-family: Istok Web !important;
        font-weight: 400,400italic,700,700italic;
    }
</style>

<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 dashboard-page-head">
                <div class="page-header">
                    <h1 style="color:black;">My Wishlist&nbsp;&nbsp;&nbsp;&nbsp;<small>Your selected vendor items</small></h1>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var row in Model.WishList)
            {
                <div class="col-md-4 vendor-box">
                    <!-- venue box start-->
                    <div class="vendor-image">
                        <!-- venue pic -->
                        <a href="#">
                            <img width="440" height="290" src="~/Media/@row." class="img-responsive wp-post-image" alt="" />
                        </a>
                        <a href="#" class="label-primary">@row.VendorItem.Categories.FirstOrDefault().VendorCategory.Title</a>
                        <div class="favorite-action" id="fav_1806"> <a class="fav-icon" href="#" onclick=remove_wishlist(@row.Id)><i class="fa fa-close"></i></a> </div>
                    </div>
                    <!-- /.venue pic -->
                    <div class="vendor-detail">
                        <!-- venue details -->
                        <div class="caption">
                            <!-- caption -->
                            <h2><a class="title" href="#">@row.VendorItem.Title</a></h2>
                            @*<p class="location"><i class="fa fa-map-marker"></i>&nbsp; @row.VendorItem.Address</p>*@
                        </div>
                        <!-- /.caption -->
                    </div>

                    <!-- venue details -->
                </div>
            }
        </div>
    </div>
</div>

