@model DAL.Users
@{
    ViewData["Title"] = "Index";
}

<style>
    html body {
        background-color: #faf9f5;
        font-family: Istok Web !important;
        font-weight: 400,400italic,700,700italic;
    }
</style>

<div class="tp-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ol class="breadcrumb listnone">
                    <li>
                        <!-- Breadcrumb NavXT 6.2.1 -->
                        <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Plan My." href="https://planmy.me" class="home"><span property="name">Plan My</span></a><meta property="position" content="1"></span> &gt; <span class="post post-page current-item">Register</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div id="post-865" class="post-865 page type-page status-publish hentry">
                    <input type="hidden" id="signonsecurity" name="signonsecurity" value="b513c005fb" /><input type="hidden" name="_wp_http_referer" value="/register/" /><h1 style="text-align: center;">Become a Weddex member</h1>
                    <p style="text-align: center;">Expand your network manage your customers easily with a click of a button.</p>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="register-boxes">
                                <div class="well-box">
                                    <div class="register-form">
                                        <h2>Vendor Registration</h2>
                                        <form id="register" class="ajax-auth" action="register" method="post">
                                            <input type="hidden" id="signonsecurity" name="signonsecurity" value="b513c005fb" /><input type="hidden" name="_wp_http_referer" value="/register/" />
                                            <p class="status"></p>
                                            <!-- Text input-->
                                            <div class="form-group">
                                                <label class="control-label" for="signonname">Username<span class="required">*</span></label>
                                                <input id="signonname" name="signonname" type="text" maxlength="15" minlength="4" placeholder="Username" class="form-control input-md required">
                                            </div>

                                            <!-- Text input-->
                                            <div class="form-group mb30">
                                                <label class="control-label" for="email">Email<span class="required">*</span></label>
                                                <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md required email">
                                            </div>
                                            <!-- Text input-->
                                            <div class="form-group mb30">
                                                <label class="control-label" for="password">Password<span class="required">*</span></label>
                                                <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md required password">
                                            </div>
                                            <!-- Button -->
                                            <div class="form-group">
                                                <input id="submit" name="submit" type="submit" class="submit_button btn tp-btn-primary tp-btn-lg" value="Create Account">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="well-box"><div class="row"><div class="feature-icon col-md-2"><img src="http://thegenius.co/wedding/demo/wp-content/uploads/2016/06/envelop.png" class="img-responsive" alt="" /></div><div class="feature-info col-md-10"><h3>Questions ? Contact us</h3><p>If you have any questions or need help.</p><a href="http://weddexonline.com/contact-us/" class="btn tp-btn-default">Help Center</a></div></div></div>
                            <div class="well-box"><div class="row"><div class="feature-icon col-md-2"><img src="http://thegenius.co/wedding/demo/wp-content/uploads/2016/06/pricing.png" class="img-responsive" alt="" /></div><div class="feature-info col-md-10"><h3>Pricing plan</h3><p>Choose one of the available plans or contact us to customize your own.</p><a href="#" class="btn tp-btn-default">View Pricing</a></div></div></div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



