@model DAL.BlogGalleryViewModel

@{
    ViewData["Title"] = "Edit";
    ViewBag.Active = "Topics";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var parms = new Dictionary<string, string>
    {
        { "blogId", ViewBag.BlogId }
    };
}

<h4>BlogGallery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-all-route-data="parms" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" asp-items="Html.GetEnumSelectList<DAL.IFormFile>()" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-all-route-data="parms">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


