@model DAL.VendorTypeValue

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var parms = new Dictionary<string, string>
    {
        { "typeId", ViewBag.TypeId }
    };
}

<div>
    <h4>VendorTypeValue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" asp-all-route-data="parms">Edit</a> |
    <a asp-action="Index" asp-all-route-data="parms">Back to List</a>
</div>
