@model DAL.TopicGallery

@{
    ViewData["Title"] = "Details";
    ViewBag.Active = "Gallery";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div>
    <h4>TopicGallery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            <img src="~/Media/@Model.Image" style="height:100px" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
